
    <div class="chat z-depth-2">
      <header class="chat-header">
          <nav class="teal">
              <div class="nav-wrapper ">
                <div class="col s8 centro">
                    <a href="#!">
                      <ul>
                        <li>
                          <h5 style="padding-right: 30px;">Amigos</h5>
                        </li>
                      </ul>  
                    </a>
                    <ul>
                        <li>
                          <h5>|</h5>
                        </li>
                      </ul>    
                    <a href="#!">
                      <ul>
                        <li>
                          <h5 style="padding-left: 30px;">Grupo</h5>
                        </li>
                      </ul>  
                    </a>
                </div>
              </div>
          </nav>
      </header>
      <section class="chat-section">
          <ul class="collection" >
              <li class="collection-item avatar grey lighten-4">
                <img src="assets/img/image1.png" alt="" class="circle">
                <span class="title">Ciclano de Tal</span>
                <p>
                  Olá tudo bem?
                </p>
                <a href="#!" class="secondary-content"><span class="new badge">4</span></a>
              </li>
              <li class="collection-item avatar grey lighten-4">
                  <img src="assets/img/image1.png" alt="" class="circle">
                  <span class="title">Ciclano de Tal</span>
                  <p>
                    Olá tudo bem?
                  </p>
                </li>
                <li class="collection-item avatar grey lighten-4">
                    <img src="assets/img/image1.png" alt="" class="circle">
                    <span class="title">Ciclano de Tal</span>
                    <p>
                      Olá tudo bem?
                    </p>
                </li>
       
            </ul>
      </section>
      <footer class="chat-footer">
<!--      Pra mandar mensagem    
          <div class="row" >
              <form class="col s12 m8 l12">
                <div class="row">
                  <div class="input-field col s6 m6 l9">
                    <i class="material-icons prefix">mood</i>
                    <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                    <i class="material-icons prefix">attach_file</i>
                  </div>
                  <div class="input-field col s6 m6 l1"></div>
                  <div class="input-field col s6 m6 l2">
                  <i class="material-icons prefix">send</i>
                </div>
                </div>
              </form>
            </div>-->
            <div class="row" >
                <form class="col s12 m8 l12">
                  <div class="row">
                    <div class="input-field col s6 m6 l11">
                      <textarea id="icon_prefix2" class="materialize-textarea" placeholder="Pesquisar"></textarea>
                    <i class="material-icons prefix">search</i>
                  </div>
                  </div>
                </form>
              </div>
      </footer>
    </div>
    
  