
<section>
    <div class="row">
        <div class="col s12 m12 l12">
          <div class="card z-depth-1">
            <div class="card-content ">
              <div class="col l12 m12 s12">
                <img src="assets/img/image1.png" class="circle responsive-img col l2 m1 s2"> 
                <span class="card-title col l10 m11 s9 right">Ciclano da Silva</span>
              </div>
              <div class="card-content"></div>
              <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.
                  I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
            <div class="card-action center">
                <a href="#" style="color: #1E856D;">
              <img src="assets/img/image12.png" >
              Curtir</a>
              <a href="#" style="color: #1E856D;">
                  <img src="assets/img/comentar.png" >
                  Comentar</a>
              <a href="#" style="color: #1E856D;">
              <img src="assets/img/compartilhar.png" >
              Compartilhar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col s12 m12 l12">
            <div class="card z-depth-1">
              <div class="card-content ">
                <div class="col l12 m12 s12">
                  <img src="assets/img/image1.png" class="circle responsive-img col l2 m1 s2"> 
                  <span class="card-title col l10 m11 s9 right">Ciclano da Silva</span>
                </div>
                <div class="card-content"></div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                    <br>
                    <img class="materialboxed" data-caption="" width="100%" src="assets/img/sports-q.jpg">
                </div>
              </div>
              <div class="card-action center">
                  <a href="#" style="color: #1E856D;">
                <img src="assets/img/image12.png" >
                Curtir</a>
                <a href="#" style="color: #1E856D;">
                    <img src="assets/img/comentar.png" >
                    Comentar</a>
                <a href="#" style="color: #1E856D;">
                <img src="assets/img/compartilhar.png" >
                Compartilhar</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l12">
              <div class="card z-depth-1">
                <div class="card-content ">
                  <div class="col l12 m12 s12">
                    <img src="assets/img/image1.png" class="circle responsive-img col l2 m1 s2"> 
                    <span class="card-title col l10 m11 s9 right">Ciclano da Silva</span>
                  </div>
                  <div class="card-content"></div>
                  <div class="card-content">
                      <p>I am a very simple card. I am good at containing small bits of information.
                      I am convenient because I require little markup to use effectively.</p>
                      <br>
                      <img class="materialboxed" data-caption="" width="100%" src="assets/img/sports-q.jpg">
                  </div>
                </div>
                <div class="card-action center">
                    <a href="#" style="color: #1E856D;">
                  <img src="assets/img/image12.png" >
                  Curtir</a>
                  <a href="#" style="color: #1E856D;">
                      <img src="assets/img/comentar.png" >
                      Comentar</a>
                  <a href="#" style="color: #1E856D;">
                  <img src="assets/img/compartilhar.png" >
                  Compartilhar</a>
                </div>
              </div>
            </div>
          </div>
</section>