<ul id="mobile-demo" class="sidenav sidenav-fixed dashboard ">
    <li>
      <div class="user-view center">
        <a href="#user"><img class="circle" style="margin-left: 38%" src="assets/img/image1.png"></a>
        <a href="#name"><span class="blue-text name"><h5>Fulano</h5></span></a>
      </div>
    </li>
    <br>
    
    <li>
        <ul class="collapsible">
          <li>
              <div class="collapsible-header center">
                  <div style="margin-right: 15px">
                      <img src="assets/img/image.png" width="45" class="circle responsive-img">
                  </div>
                  <div class="col s10">
                      <span class="black-text">
                          Desafios
                      </span>
                  </div>
              </div>
              <div class="collapsible-body">
                  <div class="container col l12">
                      <div class=" col l4 m6 ">
                          <div class="col s10 m12 l6" style="display: grid;">
                              <img src="assets/img/image5.png" class="circle responsive-img"> 
                            </div>  
                            <div class="col s10 m4 l12" style="padding: 0px;">
                                <span class="black-text">
                                  Desafios
                                </span>
                            </div>
                      </div>
                    </div>
              </div>
          </li>

          <li>
              <div class="collapsible-header center">
                  <div style="margin-right: 15px">
                      <img src="assets/img/image3.png" width="40" class="circle responsive-img"> <!-- notice the "circle" class -->
                  </div>
                  <div>
                      <span class="black-text">
                         Locais para Prática
                      </span>
                  </div>
              </div>
              <div class="collapsible-body">
                <div class="row">
                  <div class=" col l4 m6 ">
                      <div class="col s10 m12 l12 " style="display: grid;">
                          <img src="assets/img/image5.png" class="circle responsive-img"> 
                        </div>  
                        <div class="col s10 m4 l12" style="padding: 0px;">
                            <span class="black-text">
                              Desafios
                            </span>
                        </div>
                  </div>
                  <div class=" col l4 m6 ">
                      <div class="col s10 m12 l12 " style="display: grid;">
                          <img src="assets/img/image5.png" class="circle responsive-img"> 
                        </div>  
                        <div class="col s10 m4 l12" style="padding: 0px;">
                            <span class="black-text">
                              Desafios
                            </span>
                        </div>
                  </div>  
                </div>
              </div>
          </li>
        </ul>
    </li>
    <li>      
    </li>
    
    <li><a class="waves-effect waves-light btn   teal accent-4">Criar Campeonato</a></li>
    <li><a class="waves-effect waves-light btn   teal accent-4">Criar Campeonato</a></li>
    <li><a class="waves-effect waves-light btn   teal accent-4">Criar Campeonato</a></li>
</ul>