<div class="navbar-fixed">
<nav class=" teal lighten-1 ">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">{{ titleMenu }}</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down">
          <li><a href="mobile.html">Login</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
          <li><a href="mobile.html">Notificação</a></li>
      </ul>
      
      <ul class="right hide-on-med-and-down">
          <li><a href="mobile.html">Página Inicial</a></li>
      </ul>
    </div>
</nav>
</div>

      